@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Task" asp-action="Index" class="btn btn-primary">Create New</a>
</div>
